In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
movement = pd.read_csv('Global_Mobility_Report.csv')

C:\Users\Family\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
movement.head()

,country_region_code,country_region,sub_region_1,sub_region_2,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0

In [8]:
covid_cases = pd.read_csv('time_series_covid_19_confirmed_global.csv')

In [9]:
covid_cases.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/20,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20,5/28/20,5/29/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,8145,8676,9216,9998,10582,11173,11831,12456,13036,13659
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,964,969,981,989,998,1004,1029,1050,1076,1099
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,7542,7728,7918,8113,8306,8503,8697,8857,8997,9134
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,762,762,762,762,762,763,763,763,763,764
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,52,58,60,61,69,70,70,71,74,81

In [10]:
covid_deaths = pd.read_csv('provisional_covid_19_death_counts_by_sex_age_and_week.csv')

In [11]:
covid_deaths.head()

,Data as of,State,MMWR Week,Week ending Date,Sex,Age Group,Total Deaths,COVID-19 Deaths
0,05/28/2020,United States,5,02/01/2020,All Sex,Under 1 year,366,0
1,05/28/2020,United States,5,02/01/2020,All Sex,1-4 years,63,0
2,05/28/2020,United States,5,02/01/2020,All Sex,5-14 years,110,0
3,05/28/2020,United States,5,02/01/2020,All Sex,15-24 years,563,0
4,05/28/2020,United States,5,02/01/2020,All Sex,25-34 years,1112,0

In [12]:
healthconditions = pd.read_csv('conditions_contributing_to_deaths_involving_covid_19_us.csv')

In [13]:
healthconditions.head()

,Data as of,Start Week,End Week,Condition Group,Condition,ICD10_codes,All ages,0-24 years,25-34 years,35-44 years,45-54 years,55-64 years,65-74 years,75-84 years,85 years and over
0,05/28/2020,02/01/2020,05/23/2020,Coronavirus 2019,Coronavirus 2019,U071,82404,114,551,1420,3947,9901,17202,22077,27187
1,05/28/2020,02/01/2020,05/23/2020,Respiratory diseases,Influenza and pneumonia,J09-J18,34961,43,250,620,1782,4466,7575,9526,10698
2,05/28/2020,02/01/2020,05/23/2020,Respiratory diseases,Chronic lower respiratory diseases,J40-J47,6598,8,37,59,189,734,1520,2087,1962
3,05/28/2020,02/01/2020,05/23/2020,Respiratory diseases,Adult respiratory distress syndrome,J80,12621,30,110,314,879,1992,3275,3241,2778
4,05/28/2020,02/01/2020,05/23/2020,Respiratory diseases,Respiratory failure,J96,28204,35,180,454,1331,3424,6232,7909,8638

PermissionError: [Errno 13] Permission denied: 'covid_19_us_imports_and_tariffs.xlsx'

Collecting package metadata (current_repodata.json): ...working... done
Note: you may need to restart the kernel to use updated packages.
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\Family\Anaconda3

  added / updated specs:
    - xlrd


The following NEW packages will be INSTALLED:

  xlrd               pkgs/main/win-64::xlrd-1.2.0-py37_0


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done